{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>

                <button id="brokerBtn" class="btn btn-outline-secondary" label="Test">Test Broker</button>
                <button id="authBtn" class="btn btn-secondary" label="Test">Test Auth</button>

                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        let brokerBtn = document.getElementById('brokerBtn');
        let authBtn = document.getElementById('authBtn');
        let output = document.getElementById('output');
        let sent = document.getElementById('payload');
        let received = document.getElementById('received');
        
        authBtn.addEventListener('click', function(){

            this.classList.add('disabled');

            const payload = {
                action: "auth",
                auth: {
                    email: "admin@example.com",
                    password: "verysecret",
                },
            }

            const headers = new Headers()
            headers.append("Content-Type", "application/json")

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers
            }
            
            sent.innerHTML = JSON.stringify(payload, undefined, 4)
                
            fetch("http:\/\/localhost:8080/handle", body)
            .then((response) => response.json())
            .then((data)=>{
                // nicely formatted JSON
                received.innerHTML = JSON.stringify(data, undefined, 4)
                if(data.error) {
                    output.innerHTML += `<br><strong>Error</strong>: ${data.message}`;
                } else {
                    output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                }
            })
            .catch((error)=>{
                output.innerHTML += `<br><br>Error: ${error}`
            });

            this.classList.remove('disabled');
        });

        brokerBtn.addEventListener('click', function(){

            this.classList.add('disabled');

            const body = {
                method: 'POST',
            }
            
            sent.innerHTML = "empty POST request";
            fetch("http:\/\/localhost:8080", body)
            .then((response) => response.json())
            .then((data)=>{
                // nicely formatted JSON
                received.innerHTML = JSON.stringify(data, undefined, 4)
                if(data.error) {
                    console.log(data.message);
                } else {
                    output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                }
            })
            .catch((error)=>{
                output.innerHTML += `<br><br>Error: ${error}`
            });

            this.classList.remove('disabled');

        });
    </script>
{{end}}
